body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
}

.card {
  align-items: center;
  margin: 30px;
  padding: 20px;
  background-color: #293462;
  width: 400px;
  height: auto;
  color: #ec9b3b;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.avatar {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
}

.table {
  font-size: 20px;
  margin-left: 20px;
}
.scoreboad {
  font-weight: bold;
}
.tablehead {
  font-size: 16px;
  margin: 10px;
}
